body{
    background-color: #135c58c4;
    display: flex;
        justify-content: center;
        margin-top: 7%;
        align-items: center;
    }

.form {
    position: relative;
    border-radius: 15px;
    z-index: 1;
    background: #FFFFFF;
    max-width: 350px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  }
.form input {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    outline: 3;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
  }
  .form button{
    background: #135c58c4;
    border-radius: 8px;
    font-family:sans-serif;
    color: #FFFFFF;
    font-size: 18px;
    width:200px;
    height:40px;
    cursor: pointer;
}
  .form button:hover{
    background:lightseagreen
  }
  .form a{
      text-decoration: none;
      color:#135c58c4;
  }
  p{
      color: grey;
  }
